[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-neomodel = "*"
django-cors-headers = "*"
djangorestframework = "*"
gunicorn = "*"
python-dotenv = "*"
neomodel = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.12"
