<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Company Network Visualization</title>
        <script src="https://d3js.org/d3.v6.min.js"></script>
        <link rel="stylesheet" href="/static/css/styles.css" />

        <script src="/static/js/graph.js"></script>
    </head>
    <body>
        <h1>Company Network Visualization</h1>
        <div id="graph"></div>
        <div id="loading-overlay">
            <div class="spinner"></div>
            <p>Loading data...</p>
        </div>
    </body>
</html>
